:root{
    --primary-color: rgb(52, 56, 53) !important;
    --hack-green : rgb(5,170,18) !important;
}
body{
    height: 100vh;
}
h3{
    color: var(--hack-green) !important;
}
h2{
    color: red !important;
}

.terminal{
    background: #111111;
    color: var(--hack-green) !important;

}
.terminal-prompt{
    color: var(--hack-green) !important;
    
}
.terminal-logo .no-style{
    color: var(--hack-green) !important;
}
.menu-item{
    color: var(--hack-green) !important;
}
.menu-item:hover {
  color: red !important;
}
.active{
    color: red !important;
}
.wb-body .image-grid{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.wb-body .image-grid img{
    width: 300px;
    height: auto;
    margin-top: 10px;
}
.wb-body{
    background: black;
}
.main{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size: 2rem;
    color: var(--hack-green) !important;
}
.main h2{
    color: var(--hack-green) !important;
}
.main p{
    text-align: center;
}
a .btn-primary{
    border: #13681d 1px solid !important;
    color: var(--hack-green) !important;
}
a .btn-primary:hover{
    color: red !important;
    background: #111111 !important;
}
#typed,.typed-cursor{
    color: var(--hack-green);
    font-size: 2rem;
}
.sec2{
    display: grid;
    justify-content: center;
}
.skills{
    margin: 20px;
}
.progress-bar-filled{
    background-color: #16302B;
}
.wrk h2,.msg h2{
    margin-top: 1rem;
}
form label{
    color:var(--hack-green);
}

input::placeholder,
textarea::placeholder,textarea {
  color: var(--hack-green) !important;
  opacity: 1;
}
.hidden{
    display: none;
}
footer{
    display: grid;
    grid-template-areas: "tools links";
}
.tools{
    grid-area: tools;
}
.footer{
    grid-area: links;
    text-align: left;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.footer h2{
    margin-bottom: 0rem !important;
}
.footer ul{
    padding-bottom: 2rem;
}
.footer ul li,.footer ul li::after{
    padding-top: .8rem !important;
}
.footer ul li a{
    color: #81807f !important;
}
.footer ul li a:hover{
    color: white !important;
}
#copyright{
    text-align: center;
    width: 100%;
}
#copyright a{
    color: #13681d !important;
}
@media (max-width: 576px){
    footer{
    display: grid;
    grid-template-areas: "tools"
    " links";
    }
    .footer{
        align-items: flex-start;
    }
    .main p{
    text-align: left;
}
}
